#competition_selector {
  width: 250px;
}

.block_btn {
  padding: 8px;
  display: block;
  text-align: center;
}

#save_view {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: blue;
  display: none;
}

#competition_selector active {
  color: red;
  font-weight: bold;
}

#competition_name_edit {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid grey;
  font-size: 16px;
  text-align: center;
}

.d_del_container {
  vertical-align: middle;
}

.d_edit_name input {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 16px;
  text-align: center;
}

#competition_view td {
  vertical-align: top;
}

.discipline_title {
  text-align: center;
}

.inithide {
  display: none;
}

#penalties_edit {
  width: 300px;
}

#gates_edit {
  width: 300px;
}

.gp_apply {
  display: none;
}

.block {
  border: 1px black solid;
}

.block_hdr {
  padding: 6px;
}

#error_view {
  position: fixed;
  background-color: red;
  padding: 8px;
}

.gate_selector {
  display: none;
}

.gate_selector + ::after {
  width: 40px;
  text-align: center;
  display: block;
  background-color: gray;
  padding: 6px;
  cursor: pointer;
}

.gate_selector:checked + ::after {
  background-color: green;
}

#error_text {
  text-align: center;
  padding: 8px;
}

.block_hdr_btn {
  padding: 8px;
  text-align: center;
}

.block_hdr_title {
  padding: 8px;
  text-align: center;
}

.terminal_container {
  padding: 5px;
  border: 1px solid black;
}

.t_d_view {
  float: none;
}

.t_d_name {
  font-weight: bold;
  text-align: center;
}

.terminal_cbx {
  display: none;
}

.terminal_cbx + ::after {
  display: inline-table;
  min-width: 40px;
  text-align: center;
  background-color: gray;
  padding: 6px;
  cursor: pointer;
}

.t_perm_a + ::after {
  content: "Админ";
}

.t_perm_r + ::after {
  content: "Чтение";
}

.t_perm_w + ::after {
  content: "Запись";
}

.terminal_cbx:checked + ::after {
  background-color: green;
}

.terminal_activity_container {
  width: 100%;
  float: none;
}

.terminal_activity {
  border: 1px solid black;
  padding: 6px;
  display: inline-block;
}

.t_a_id {
  font-weight: bold;
}

.terminal_activity div {
  text-align: center;
}


.s1 {
  background-color: #219e24;
}

.s2 {
  background-color: #69b75d;
}

.s3 {
  background-color: #9dcf92;
}

.s4 {
  background-color: #cee7c8;
}

.s5 {
  background-color: #ffffff;
}

#table_view table {
  border: 0px;
  border-collapse: collapse;
}

#table_view th {
  padding: 10px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid black;
}

#table_view td {
  padding: 10px;
  text-align: center;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid black;
}
